@media screen and (max-width: 739px) {
  :root {
    --padding-x: 5px;
    --video-number: 3;
    --video-gap: 20px;
    --video-gap-number: 2;
  }
  .search.active {
    display: block;
    animation: fadeRight 0.4s ease;
  }
  .search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
  }
  @keyframes fadeRight {
    from {
      opacity: 0.2;
      transform: translateX(-50%);
    }
  }
  .search .search-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    overflow-y: auto;
  }
  .search .search-inner::-webkit-scrollbar {
    width: 5px;
  }
  .search .search-inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2d67ad;
  }
  .search .search-inner .search-head {
    position: relative;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
  .search .search-inner .search-head .search-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    left: 20px;
    color: var(--black-color);
  }
  .search .search-head .img {
    width: 90px;
    height: 37.25px;
    margin: 0 auto;
  }
  .search .search-inner footer {
    padding: 0 36px;
    background-color: var(--white-color);
  }
  .search .search-inner footer .head {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
    padding: 0;
    gap: 23px 15px;
  }
  .search .search-inner footer .head p {
    font-size: 15px;
  }
  .search .search-inner footer .body {
    display: none;
  }
  .search .search-inner footer .body .body-list .item {
    margin-right: 0;
  }
  .search .search-inner .other-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 15px 25px;
  }
  .search .search-inner .other-news:first-child {
    border-bottom: 2px solid #ccc;
  }
  .search .search-inner .other-news:last-child {
    display: none;
  }
  .search .search-inner .other-news.mt--20 {
    margin: -20px 0 0;
  }
  .search .search-inner .other-news button.rounded {
    background-color: var(--white-color);
    border: 1px solid #2d67ad;
    color: var(--black-color);
  }
  .search .search-inner .other-news button {
    color: white;
    background-color: #2d67ad;
    border-radius: 888px;
    line-height: 30px;
  }
  .search .search-inner .search-input {
    padding: 10px;
    margin: 5px 0 -10px;
  }

  .search .search-inner .search-input input {
    width: 100%;
    border-radius: 888px;
    padding: 5px 20px;
    border: 1px solid #555;
    outline: none;
    margin: 0 0 10px;
  }
  .form .form-wrapper {
    width: calc(100% - 43px);
    height: auto;
    padding: 0;
    border-radius: 10px;
  }
  .form .form-wrapper .form-inner .main {
    width: 544px;
    padding: 36px 23px;
  }
  .form-wrapper .form-inner .main .other-submit {
    margin: 16px 0 0;
  }
  .form-wrapper .form-inner .main .list-social {
    margin: 0;
  }
  .form .form-wrapper .form-close {
    top: 10px;
  }
  .form .form-wrapper .form-inner .main h1 {
    margin-bottom: 20px;
  }
  .form .form-wrapper .form-inner .ads {
    display: none;
  }
  header {
    height: 40px;
  }
  header .bar {
    display: block;
    font-size: 20px;
    color: var(--black-color);
  }
  .go-up {
    bottom: 76px;
    right: 15px;
  }
  #header {
    padding: 0 15px;
    height: 100%;
  }
  .header-item:first-child {
    gap: 15px;
  }
  .header-logo {
    width: 90px;
    height: 37.26px;
  }
  .header-link {
    background-color: white;
    color: #2d67ad;
    font-size: 14px;
    padding: 0;
    white-space: nowrap;
  }
  .header-item:last-child {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header-nav {
    display: none;
  }
  .header-nav li {
    position: relative;
    font-size: 13px;
  }
  .header-nav li::before {
    content: '';
    position: absolute;
    top: 0;
    right: -11px;
    height: 100%;
    width: 1px;
    background-color: #555;
  }
  .header-nav li a {
    color: #2a2a2a;
  }
  .header-nav li a.red {
    color: #e64c3c;
  }
  .nav-img {
    width: 89px;
    height: 13.52px;
    margin-bottom: 6px;
    cursor: pointer;
  }
  .header-login {
    display: flex;
  }
  .login-title {
    color: #4d4d4d;
    font-size: 13px;
    padding: 2px 0px 2px 10px;
    text-align: center;
    margin-right: 10px;
  }
  .login-btn {
    display: none;
  }
  .login-icon {
    color: #ccc;
  }
  .login-icon i {
    width: 20px;
    height: 20px;
    margin-right: 0;
  }
  .login-icon i:nth-child(2) {
    display: none;
  }
  #nav {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    z-index: 1000;
  }
  #nav .nav-wrapper {
    padding: 0 var(--padding-x);
    align-items: center;
  }
  #nav .nav-wrapper .right-btn {
    display: block;
  }
  #nav .nav-wrapper .icon {
    margin: 0 15px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nav .nav-wrapper .icon:last-child {
    display: none;
  }
  #nav .nav-wrapper ul {
    display: flex;
    gap: 15px;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: 0.4s ease;
    scroll-behavior: smooth;
  }
  #nav .nav-wrapper ul::-webkit-scrollbar {
    display: none;
  }
  #nav .nav-wrapper > ul > li::after {
    display: none;
  }
  #nav .nav-wrapper > ul > li:hover:after {
    width: 100%;
  }
  #nav .nav-wrapper > ul > li:hover .subnav {
    display: none;
  }
  #nav .nav-wrapper ul li .subnav {
    display: none;
  }
  .content-header {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 20px;
  }
  .content-header.grid-3 {
    grid-template-columns: 1fr;
    grid-template-areas:
      'h1'
      'h2'
      'h3';
  }
  .content-header.grid-3.no-h4 {
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-areas: 'h1 h2 h3';
  }
  .content-header.grid-3.grid-1_2-1_2-1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      'h1'
      'h2'
      'h3';
  }

  .content-header.grid-3.grid-1_2-1_2-1 .header-main:nth-child(2) {
    display: grid;
    grid-template-areas:
      'h1'
      'h3'
      'h2';
    gap: 40px;
  }
  .content-header2 .header-main .item:first-child {
    grid-area: h1;
    margin-bottom: 0;
  }
  .content-header2 .header-main .item:nth-child(2) {
    grid-area: h2;
    margin-bottom: 0;
  }
  .content-header.grid-3.grid-1_2-1_2-1 .header-main .read-comment {
    grid-area: h3;
  }
  .content-header.grid-3 .header-main.g-area-h2::after {
    display: none;
  }
  .content-header.grid-3 .header-ads.g-area-h3 {
    grid-area: h3;
    gap: 27px;
    padding-left: 0;
  }
  .content-header.grid-3 .header-ads .header-main {
    border: none;
  }
  .content-header.grid-3 .header-ads .header-main .item:after {
    display: none;
  }
  .content-header.grid-3 .header-tech.g-area-h4 {
    display: none;
  }
  .header-news {
    gap: 55px;
    padding: 0 15px;
    margin: 0;
  }
  .read-comment .inner .content {
    height: 210px;
    overflow: auto;
  }
  .header-main .main-heading {
    font-size: 25px;
    line-height: 32px;
    padding: 0 15px;
  }
  .header-main .main-disc {
    padding: 0 15px;
    line-height: 24px;
    font-size: 17px;
  }
  .header-news .item {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .header-ads .ads-img {
    display: none;
  }
  .content-header2 > .header-main > .item > .title {
    padding: 20px;
  }
  .header-news .item .item-img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  .header-news .item .item-disc {
    font-size: 25px;
    line-height: 32px;
    max-width: 100%;
    font-weight: 700;
  }
  .header-main {
    padding: 0;
    border-left: none;
  }
  .header-main .main-news {
    flex-direction: column;
    padding: 15px;
    margin: 50px 0 0 0;
  }

  .header-main .main-news .item .item-img {
    width: 100%;
    height: auto;
    border-radius: 0;
    overflow: hidden;
  }
  .header-main .main-news .item .item-disc {
    font-size: 15px;
    line-height: 21px;
    margin-top: 10px;
  }
  .header-ads .mt-25 {
    display: none;
  }
  .header-ads {
    display: none;
  }
  .content-body1 {
    gap: 20px;
    width: calc(100%);
    margin: 25px auto;
    overflow: auto;
  }
  .content-body1 .item-img {
    width: 141.59px;
    height: 94.4px;
  }
  .content-ads {
    display: none;
  }
  .content-header2 .header-main .item {
    margin: 0 0 25px;
  }

  .content-header2 .header-main .item:first-child::after,
  .content-header2 .header-main .item:nth-child(2)::after {
    display: none;
  }
  .content-header2 .header-main .item .item-head {
    padding: 0 20px 10px;
  }
  .content-header2 .header-main .item .header-news .item:after {
    display: none;
  }
  .content-header2 .header-main .item .stock .stock-item .item .name {
    font-size: 16px;
    font-weight: 700;
  }
  .content-header2 .header-main .item .stock {
    margin: 25px 10px;
  }
  .content-header2 .header-main .item .stock .stock-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 30% 30% 30%;
    grid-template-areas: 'h1 h2 h3 h4';
  }
  .content-header2 .header-main .item .stock .stock-item .item {
    margin: 0 0 0;
  }
  .content-header2 .header-main .item .stock .stock-item .item .cost {
    font-size: 14px;
    text-align: center;
    font-weight: 800;
  }
  .content-header.grid-3 .header-tech .tech-list {
    display: grid;
    grid-template-areas:
      'h1 h2'
      'h3 h3';
  }
  .content-header.grid-3 .header-news.g-area-h1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 45px;
  }
  .header-tech .header-main .item::after {
    display: none;
  }
  .content-header.grid-3 .header-tech .tech-item:first-child {
    grid-area: h1;
  }
  .content-header.grid-3 .header-tech .tech-item:nth-child(2) {
    grid-area: h2;
  }
  .content-header.grid-3 .header-tech .tech-item:nth-child(3) {
    display: none;
  }
  .premium {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 0 12px;
    margin: 25px 0;
  }
  .premium .premium-item .heading {
    margin-bottom: 15px;
  }
  .premium .premium-item .list-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 45px;
  }
  .premium .premium-item .list-img .item .img {
    width: 100%;
    height: auto;
  }
  .content-video {
    padding: 0;
    margin: 25px 0;
  }
  .content-video .inner {
    background-color: black;
    gap: 30px;
    grid-template-columns: 1fr;
  }
  .content-video .inner .item:first-child .heading {
    color: white;
  }
  .content-video .inner .item:last-child .heading {
    margin: 0 0 20px;
  }
  .content-video .inner .item:last-child .list {
    gap: var(--video-gap);
    height: calc(
      var(--video-number) * 80.33px + var(--video-gap) * var(--video-gap-number)
    );
  }
  .content-video .inner .item:last-child .list::-webkit-scrollbar {
    width: 5px;
  }
  .content-video .inner .item:last-child .list .item .title {
    max-width: 150px;
    margin: -5px 0 0;
    color: white;
  }
  footer {
    padding: 0 1.25rem;
    margin: 0;
  }
  footer .head {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .body {
    flex-direction: column;
  }
  footer .body .body-list {
    flex-direction: column;
    gap: 45px;
  }
  footer .body .body-list .item {
    text-align: center;
  }
  footer .body .body-list .item:first-child {
    margin-right: 0;
  }
  footer .body .body-list .item:nth-child(2) {
    margin-right: 0;
  }
  footer .body .body-list .item .img {
    width: 156px;
    height: 64.58px;
    margin: 0 auto;
  }

  footer .body .body-list .item .text p {
    font-size: 15px;
  }
  footer .body .social {
    margin: 0 auto;
    text-align: center;
  }
}
