@media screen and (max-width: 1024px) and (min-width: 740px) {
  :root {
    --padding-x: 15px;
    --video-number: 3;
    --video-gap: 20px;
    --video-gap-number: 2;
    --white-color: black;
    --black-color: white;
    --gray-color: black;
  }

  .search.active {
    display: block;
    animation: fadeRight 0.4s ease;
  }
  .search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
  }

  .search .search-inner::-webkit-scrollbar {
    width: 5px;
  }
  .search .search-inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2d67ad;
  }
  .search .search-inner {
    position: relative;
    width: 60%;
    height: 100%;
    background-color: var(--white-color);
    overflow-y: auto;
  }
  .search .search-inner .search-head {
    position: relative;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
  }
  .search .search-inner .search-head .search-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    left: 20px;
  }
  .search .search-head .img {
    width: 90px;
    height: 37.25px;
    margin: 0 auto;
  }
  .search .search-inner footer {
    padding: 0 36px;
    background-color: var(--white-color);
  }
  .search .search-inner footer .head {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
    padding: 0;
    gap: 27px 34px;
  }
  .search .search-inner footer .body {
    padding: 0;
    text-align: center;
  }
  .search .search-inner footer .body .body-list .item {
    margin-right: 0;
  }
  .search .search-inner .other-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 15px 25px;
  }
  .search .search-inner .other-news:first-child {
    border-bottom: 2px solid #ccc;
  }
  .search .search-inner .other-news.mt--20 {
    margin: -20px 0 0;
  }
  .search .search-inner .other-news button.rounded {
    background-color: white;
    border: 1px solid #2d67ad;
    color: black;
  }
  .search .search-inner .other-news button {
    color: white;
    background-color: #2d67ad;
    border-radius: 888px;
    line-height: 30px;
  }
  .search .search-inner .search-input {
    padding: 10px;
    margin: 5px 0 -10px;
  }

  .search .search-inner .search-input input {
    width: 100%;
    border-radius: 888px;
    padding: 5px 20px;
    border: 1px solid var(--black-color);
    outline: none;
    background-color: var(--white-color);
    margin: 0 0 19px;
  }
  .form .form-wrapper {
    position: relative;
    width: 85%;
    height: 630px;
    background: url(../img/form-bg.jpg) no-repeat scroll 0 0 transparent;
    padding: 54px 25px;
  }
  .form .form-wrapper .form-inner .main {
    width: 544px;
    padding: 40px 40px 30px;
  }
  .form .form-wrapper .form-inner .main h1 {
    margin-bottom: 20px;
  }
  header {
    height: 58px;
  }
  header .bar {
    display: block;
    font-size: 28px;
    color: var(--black-color);
  }
  #header {
    padding: 0 15px;
    height: 100%;
  }
  .header-item:first-child {
    gap: 15px;
  }
  .header-logo {
    width: 75px;
    height: 31.04px;
  }
  .header-link {
    background-color: #f0f0f0;
    border-radius: 50px;
    color: #555;
    height: 23px;
    font-size: 13px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  .header-item:last-child {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header-nav {
    display: none;
    align-items: center;
    white-space: nowrap;
    gap: 21px;
  }
  .header-nav li {
    position: relative;
    font-size: 13px;
  }
  .header-nav li::before {
    content: '';
    position: absolute;
    top: 0;
    right: -11px;
    height: 100%;
    width: 1px;
    background-color: #555;
  }
  .header-nav li a {
    color: #2a2a2a;
  }
  .header-nav li a.red {
    color: #e64c3c;
  }
  .nav-img {
    width: 89px;
    height: 13.52px;
    margin-bottom: 6px;
    cursor: pointer;
  }
  .header-login {
    display: flex;
  }
  #nav .nav-wrapper ul {
    scroll-behavior: smooth;
  }
  .login-title {
    color: #4d4d4d;
    font-size: 13px;
    padding: 2px 0px 2px 10px;
    text-align: center;
    margin-right: 10px;
  }
  .login-btn {
    display: none;
  }
  .login-icon {
    color: #ccc;
    font-size: 22px;
  }
  .login-icon i {
    width: 20px;
    height: 20px;
    margin-right: 0;
  }
  .login-icon i:nth-child(2) {
    display: none;
  }
  #nav {
    height: 45px;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    z-index: 1000;
  }
  #nav .nav-wrapper {
    padding: 0 var(--padding-x);
    align-items: center;
  }
  #nav .nav-wrapper .right-btn {
    display: block;
  }
  #nav .nav-wrapper .icon {
    width: 17px;
    height: 17px;
    margin: 0 15px;
  }
  #nav .nav-wrapper .icon:last-child {
    display: none;
  }
  #nav .nav-wrapper ul {
    display: flex;
    gap: 10px;
    overflow: scroll;
  }
  #nav .nav-wrapper ul::-webkit-scrollbar {
    display: none;
  }
  #nav .nav-wrapper > ul > li::after {
    display: none;
  }
  #nav .nav-wrapper > ul > li:hover:after {
    width: 100%;
  }
  #nav .nav-wrapper > ul > li:hover .subnav {
    display: none;
  }
  #nav .nav-wrapper ul li .subnav {
    display: none;
  }
  .content-header {
    grid-template-columns: 1fr 1.4fr;
    padding: 0 26px;
    gap: 20px;
  }
  .read-comment .inner .tabs .tab-item {
    white-space: nowrap;
  }
  .content-header.grid-3 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'h2 h3'
      'h1 h1';
  }
  .content-header.grid-3.no-h4 {
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-areas: 'h1 h2 h3';
  }
  .content-header.grid-3.grid-1_2-1_2-1 {
    grid-template-columns: 1fr 1fr;
  }
  .content-header.grid-3 .header-main.g-area-h2::after {
    display: none;
  }
  .content-header.grid-3 .header-ads.g-area-h3 {
    grid-area: h3;
    gap: 27px;
  }
  .content-header.grid-3 .header-ads .header-main {
    border: none;
  }
  .content-header.grid-3 .header-ads .header-main .item:after {
    display: none;
  }
  .content-header.grid-3 .header-tech.g-area-h4 {
    display: none;
  }
  .header-news {
    gap: 25px;
  }
  .header-news .item {
    display: flex;
    gap: 20px;
  }
  .header-news .item .item-img {
    width: 140px;
    height: 94.5px;
  }
  .header-news .item .item-disc {
    font-size: 15px;
    line-height: 21px;
    max-width: 147.73px;
  }
  .header-main {
    padding: 0;
    border-left: none;
  }

  .header-main .main-news .item .item-img {
    width: 200px;
    height: 140px;
    border-radius: 8px;
    overflow: hidden;
  }
  .header-main .main-news .item .item-disc {
    color: #555;
    font-size: 15px;
    line-height: 21px;
    margin-top: 10px;
  }
  .header-ads .mt-25 {
    display: none;
  }
  .header-ads {
    display: none;
  }
  .content-body1 {
    gap: 18px;
    width: calc(100% - (10px * 2));
    margin: 25px auto;
    justify-content: space-between;
  }
  .content-body1 .item:last-child {
    display: none;
  }
  .content-body1 .item-img {
    width: 100%;
    height: 94.4px;
  }
  .content-ads {
    display: none;
  }
  .content-header2 .header-main .item {
    margin: 0 0 25px;
  }

  .content-header2 .header-main .item:first-child::after,
  .content-header2 .header-main .item:nth-child(2)::after {
    display: none;
  }
  .content-header2 .header-main .item .item-head {
    padding: 0 0 10px;
  }
  .content-header2 .header-main .item .header-news .item:after {
    display: none;
  }
  .content-header2 .header-main .item .stock {
    margin: 25px 0;
  }
  .content-header2 .header-main .item .stock .stock-item .item {
    margin: 0 0 0;
  }
  .content-header2 .header-main .item .stock .stock-item .item .cost {
    font-size: 14px;
    text-align: center;
    font-weight: 800;
  }
  .content-header.grid-3 .header-tech .tech-list {
    display: grid;
    grid-template-areas:
      'h1 h2'
      'h3 h3';
  }
  .content-header.grid-3 .header-news.g-area-h1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .header-tech .header-main .item::after {
    display: none;
  }
  .content-header.grid-3 .header-tech .tech-item:first-child {
    grid-area: h1;
  }
  .content-header.grid-3 .header-tech .tech-item:nth-child(2) {
    grid-area: h2;
  }
  .content-header.grid-3 .header-tech .tech-item:nth-child(3) {
    display: none;
  }
  .premium {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 0 26px;
    margin: 25px 0;
  }
  .premium .premium-item .heading {
    margin-bottom: 15px;
  }
  .premium .premium-item .list-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .premium .premium-item .list-img .item .img {
    width: 232.67px;
    height: 155.12px;
  }
  .content-video {
    padding: 0 10px;
    margin: 25px 0;
  }
  .content-video .inner {
    gap: 20px;
    grid-template-columns: 57% auto;
  }
  .content-video .inner .item:last-child .heading {
    margin: 0 0 20px;
  }
  .content-video .inner .item:last-child .list {
    gap: var(--video-gap);
    height: calc(
      var(--video-number) * 80.33px + var(--video-gap) * var(--video-gap-number)
    );
  }
  .content-video .inner .item:last-child .list::-webkit-scrollbar {
    width: 10px;
  }
  .content-video .inner .item:last-child .list .item .title {
    max-width: 130px;
    margin: -5px 0 0;
  }
  footer {
    padding: 1.25rem;
    margin: 0;
  }
  footer .head {
    grid-template-columns: repeat(4, 1fr);
  }
  footer .body {
    flex-direction: column;
  }

  footer .body .body-list .item .img {
    width: 156px;
    height: 64.58px;
  }

  footer .body .body-list .item .text p {
    font-size: 15px;
  }
  footer .body .social {
    margin: 0 auto;
    text-align: center;
  }
}
